<section class="container-fluid aboutContainer">
    <div class="container ">
      <div class="row">
        <div class="col-md-12 intro">
          <h1 class="pageTitle hide-on-init" animateOnScroll animationName="animated slideInDown">About <span>Me</span></h1>
          <div class="row">
              <div class="col-md-8 hide-on-init" animateOnScroll animationName="animated fadeIn" [innerHTML]="aboutMe">
              </div>
              <div class="col-md-4 hide-on-init" animateOnScroll animationName="animated slideInRight">
                <img src="assets/images/padmanaban.jpeg" class="img-thumbnail" width="70%" alt="">
              </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
  </section>
  <section class="container-fluid">
    <div class="container">
      <div class="row">
          <div class="col-md-12"><h2 class="sectionTitle hide-on-init" animateOnScroll animationName="animated {{pageTitleAnimation}}">My Skills</h2></div>
      </div>
      <div class="row skillBarContainer">
        <div class="col-md-12">
          <div class="skillbar clearfix  hide-on-init" animateOnScroll animationName="animated fadeInUp" *ngFor="let skill of skills" attr.data-percent="{{skill.percentage}}%">
            <div class="skillbar-title" style="background: rgb(121, 121, 121);"><span>{{skill.title}}</span></div>
            <div class="skillbar-bar" style="background: rgb(197, 197, 197);"></div>
            <div class="skill-bar-percent">{{skill.percentage+"%"}}</div>
          </div> <!-- End Skill Bar -->
        </div>
      </div>
    </div>
  </section>  