<section class="container-fluid aboutContainer" style="min-height: 400px;">
    <div class="container ">
      <div class="row">
        <div class="col-md-12 intro">
          <h1>Contact <span>Me</span></h1>
          <div class="row">
              <div class="col-md-8">
                <p><strong>Address</strong></p>              
                <p>
                    4/37, Thirunagar,Thoravalur, <br>
                    Merkupathi (PO),
                    Kunnathur (VIA), <br>
                    Tirupur (DT), <br>
                    Tamil Nadu - 638103.
                </p>
                
              </div>
              <div class="col-md-4">
                <p><strong>Mobile :</strong> +91 9524427623, +91 6381167211</p>
                <p><strong>Email :</strong> parthistarpk89@gmail.com</p>
              </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
  </section>
  