<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active first-slide">
        <!-- <img class="first-slide" src="assets/banner.jpg" alt="First slide"> -->
        <div class="container">
          <div class="carousel-caption "><!-- text-left -->
            
            <h1>Hello,I'm <kbd>Padmanaban</kbd></h1>
            <p>I'm a <span class="font-weight-bold">Web Developer</span> </p>
            <button type="button" class="btn btn-lg btn-primary">Hire Me</button>
          </div>
        </div>
      </div>
      <div class="carousel-item second-slide" >
        <!-- <img class="second-slide" src="assets/banner.jpg" alt="Second slide"> -->
        <div class="container">
          <div class="carousel-caption">              
              <h1>Hello,I'm <kbd>Padmanaban</kbd></h1>
              <p>I'm a <span class="font-weight-bold">Web Designer</span> </p>
              <button type="button" class="btn btn-lg btn-primary">Hire Me</button>
          </div>
        </div>
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>