/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{
    color: rgb(163, 163, 163);
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}
.main {
    margin-top:55px;
    line-height: 26px;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(65, 65, 65);
}

section{
    padding: 60px 0px;
}
.btn {
    border-radius: 50px;
}
.btn-primary{
    background: transparent;
    border: 3px solid #ffffff;
    transition: background .60s;
}
.btn-primary:hover{
    color: #780CFF;
    background: #ffffff;
    border: 3px solid #ffffff;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 5rem;
    font-size: 2.0rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand span {
    color: #6E23EA;
}
.sectionTitle{
    font-size: 32px;
    font-weight:700;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.sectionTitle:after{
    content:'';
    position: absolute;
    left: 45.4%;
    bottom: -6px;
    height:2px;
    width: 100px;
    border-radius: 20px;
    background: #780CFF;
    transition: width .25s;
}
.sectionTitle:active:after {
    width: 500px;
  }

.pageTitle{
    position: relative;
    margin-bottom: 30px;
}
.pageTitle:after{
    content:'';
    position: absolute;
    left: 10px;
    bottom: -6px;
    height: 2px;
    width: 50px;
    border-radius: 20px;
    background: #780CFF;
    transition: width .25s;
}
.pageTitle span {
    color:#780CFF;
}