.myworksContainer{
    background: rgb(244, 237, 252);
}
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 16px;
    border: 2px solid #780CFF;
    border-radius: 60px;
    text-align: center;
    color: #780CFF;
    background-color: transparent;
    margin-bottom: 30px;
    margin-right: 10px;
}
.filter-button:hover
{
    border: 2px solid #780CFF;
    border-radius: 60px;
    text-align: center;
    color: #ffffff;
    background-color: #780CFF;

}
.filter-button.active
{
    background-color: #780CFF;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    position: relative;
    margin: 0px 0px;
    border: 1px solid #cccccc;
    background: #780CFF;
    color: #ffffff;
    height: auto;
}
.gallery_product .work-info{
    display: none;
    position: absolute;
    padding: 10px 20px;
    z-index: 1111;
    bottom:0;
    left: 0px;
    font-size: 14px;
    width: 100%;
}
.gallery_product img{
    width: 100%;
}
.gallery_product .work-info p{
    padding: 2px;
    margin: 2px;
}
.gallery_product:hover .work-info{
    display: inline;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
}
.filter.col-sm-4{
    padding: 10px;
}
