<section class="container-fluid">
  <div class="row" style="margin-bottom:40px;">
    <div class="col-md-12"><h2 class="sectionTitle hide-on-init" animateOnScroll animationName="animated {{pageTitleAnimation}}">Recent Works</h2></div>
  </div>
  <div class="row">
    <div align="center">
      <button class="btn btn-default filter-button" data-filter="all">All</button>
      <button class="btn btn-default filter-button" data-filter="hdpe">HDPE Pipes</button>
      <button class="btn btn-default filter-button" data-filter="sprinkle">Sprinkle Pipes</button>
      <button class="btn btn-default filter-button" data-filter="spray">Spray Nozzle</button>
      <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe hide-on-init" animateOnScroll animationName="animated fadeInUp">
        <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>
    </div>
  </div>
  
</section>