
  <app-slider></app-slider>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <section class="container-fluid aboutContainer" >
      <!-- style="background:url(assets/images/bg-round.jpg)" -->
    <div class="container ">
      <div class="row">
        <div class="col-md-12 intro">
          <h1 class="pageTitle hide-on-init" animateOnScroll animationName="animated slideInDown">Hello I'm <span>Padmanaban</span></h1>
          <div class="row">
              <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeIn" [innerHTML]="aboutMe">
              </div>
              <div class="col-md-6">
                <div class="introImgContainer">
                  <div class="introImg hide-on-init" animateOnScroll animationName="animated slideInRight">
                      <img src="assets/images/me/parthi.png" class="aboutImg hang" width="100%" alt="">
                  </div>
                </div>                
              </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
  </section>
  <section class="container-fluid serviceContainer">
    <div class="container">
      <!-- Three columns of text below the carousel -->
      <div class="row">
          <div class="col-md-12"><h2 class="sectionTitle hide-on-init" animateOnScroll animationName="animated {{pageTitleAnimation}}">What I Do</h2></div>
      </div>
      <div class="row mt-5">        
        <div class="col-md-4" *ngFor="let service of services">
          <div class="serviceSection hide-on-init hvr-shutter-out-vertical hvr-bob" animateOnScroll animationName="animated fadeInUp">
              <div class="serviceIcon">
                  <i class="{{service.icon}}"></i>
              </div>
              <h2 class="serviceTitle">{{service.title}}</h2>
              <p class="serviceContent">{{service.content}}</p>
          </div>
        </div><!-- /. col-md-4-->     
      </div><!-- /.row -->
    </div>
  </section>

  <section class="container-fluid">
    <div class="container">
      <div class="row">
          <div class="col-md-12"><h2 class="sectionTitle hide-on-init" animateOnScroll animationName="animated {{pageTitleAnimation}}">My Skills</h2></div>
      </div>
      <div class="row skillBarContainer">
        <div class="col-md-12">
          <div class="skillbar clearfix  hide-on-init" animateOnScroll animationName="animated fadeInUp" *ngFor="let skill of skills" attr.data-percent="{{skill.percentage}}%">
            <div class="skillbar-title" style="background: rgb(68, 68, 68);"><span>{{skill.title}}</span></div>
            <div class="skillbar-bar" style="background: #780CFF;"></div>
            <div class="skill-bar-percent">{{skill.percentage+"%"}}</div>
          </div> <!-- End Skill Bar -->
        </div>
      </div>
    </div>
  </section>  
    

  
 