
  <app-slider></app-slider>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <section class="container-fluid aboutContainer" style="background:url(assets/images/bg-round.jpg)">
    <div class="container ">
      <div class="row">
        <div class="col-md-12 intro">
          <h1>Hello I'm <span>Padmanaban</span></h1>
          <div class="row">
              <div class="col-md-8" [innerHTML]="aboutMe">
              </div>
              <div class="col-md-4">
                <div class="introImgContainer">
                  <div class="introImg">
                      <img src="assets/images/me/parthi.png" class="aboutImg" width="220rem" alt="">
                  </div>
                </div>                
              </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
  </section>
  <section class="container-fluid serviceContainer">
    <div class="container">
      <!-- Three columns of text below the carousel -->
      <div class="row">
          <div class="col-md-12"><h2 class="sectionTitle">What I Do</h2></div>
      </div>
      <div class="row mt-5">        
        <div class="col-md-4 serviceSection" *ngFor="let service of services">
            <div class="serviceIcon">
                <i class="{{service.icon}}"></i>
            </div>
            <h2 class="serviceTitle">{{service.title}}</h2>
            <p class="serviceContent">{{service.content}}</p>
        </div><!-- /. col-md-4-->     
      </div><!-- /.row -->
    </div>
  </section>

  <section class="container-fluid skillsContainer">
      <div class="container">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-md-12"><h2 class="sectionTitle">My Skills</h2></div>
        </div>
        <div class="row mt-5">        
          <div class="col-md-3" *ngFor="let skill of skills">
            <div class="skillSection">
                <div class="skillsIcon">
                    <img src="assets/images/{{skill.icon}}" alt="">
                </div> 
                <!-- <div class="skillsTitle">
                  {{skill.title}}
                </div> -->
            </div>                         
          </div><!-- /. col-md-4-->     
        </div><!-- /.row -->
      </div>
    </section>
    

  
 